# ---------------------------------------------------------
# Copyright (c) Recommenders contributors.
# Licensed under the MIT License.
# ---------------------------------------------------------

# This is a reusable workflow called by other workflows to run
# different groups of tests categorized by their types.

name: Tests

on:
  workflow_call:
    inputs:
      compute:
        required: false
        type: string
        default: cpu
        description: Test compute - cpu, gpu or spark
      config-file:
        required: false
        type: string
        default: tests/test_groups.yml
        description: Path to test group configuration file relative
          to the repo root
      dockerfile:
        required: false
        type: string
        default: tools/docker/Dockerfile
        description: Path to the Dockerfile used for building the
          test environment
      timeout-minutes:
        required: true
        type: number
      type:
        required: true
        type: string
        description: Type of test - pr_gate or nightly

jobs:
  get-test-groups:
    # yq is required to run .github/actions/get-test-groups, and it
    # is preinstalled on ubuntu-24.04
    # (https://github.com/actions/runner-images/blob/9b8c9709431a8d2b295fd46cf96f283d671f20d9/images/ubuntu/Ubuntu2404-Readme.md?plain=1#L100)
    runs-on: ubuntu-24.04
    outputs:
      groups: ${{ steps.get-test-groups.outputs.groups }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Get test group names
        id: get-test-groups
        uses: ./.github/actions/get-test-groups
        with:
          compute: ${{ inputs.compute }}
          config-file: ${{ inputs.config-file }}
          type: ${{ inputs.type }}

  execute-tests:
    name: ${{ join(matrix.*, ', ') }}
    needs: get-test-groups
    runs-on: ${{ contains(matrix.group, 'gpu') && 'ubuntu-gpu' || 'ubuntu-24.04' }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    container:
      image: ${{ contains(matrix.group, 'gpu') && 'nvidia/cuda:12.2.2-devel-ubuntu22.04@sha256:5f603101462baa721ff6ddc44af82f6e9ba7cbd92a424c9f9f348e6e9d6d64c3' || 'buildpack-deps:24.04@sha256:40ee16e3f341497dfd8ae089abe47e60447f714389028726a8c21a75ac405be3' }}
      options: --gpus all
    strategy:
      matrix:
        python-version:
          # - '3.8'
          # - '3.9'
          - '3.10'
          # - '3.11'
        group: ${{ fromJSON(needs.get-test-groups.outputs.groups) }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Set up base environment
        shell: bash
        run: |
          # Verify GPU
          nvidia-smi

          # Install yq.  See https://github.com/mikefarah/yq
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y wget git
          wget https://github.com/mikefarah/yq/releases/download/v4.49.2/yq_linux_amd64.tar.gz -O - | tar xz && mv yq_linux_amd64 /usr/local/bin/yq

          # Install Conda
          wget -qO /tmp/conda.sh "https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh"
          bash /tmp/conda.sh -bf -p ~/conda
          ~/conda/bin/conda init bash
          ~/conda/bin/conda config --set auto_activate false
          ~/conda/bin/conda tos accept --override-channels --channel https://repo.anaconda.com/pkgs/main
          ~/conda/bin/conda tos accept --override-channels --channel https://repo.anaconda.com/pkgs/r
      - name: Install dependencies
        shell: bash
        run: |
          # Create Conda environment
          ~/conda/bin/conda create -n Recommenders -c conda-forge -y python=${{ matrix.python-version }} pip

          # Install Recommenders and its dependencies
          source ~/conda/bin/activate
          conda activate Recommenders
          if [[ "${{ matrix.group }}" =~ spark ]]; then conda install -c conda-forge -y "openjdk>=21,<23"; fi
          if [[ ! "${{ matrix.group }}" =~ gpu ]]; then pip install pytest-xdist; fi
          EXTRAS=dev${{ contains(matrix.group, 'gpu') && ',gpu' || '' }}${{ contains(matrix.group, 'spark') && ',spark' || '' }}
          pip install .["${EXTRAS}"]
      - name: Execute tests
        shell: bash
        run: |
          source ~/conda/bin/activate
          conda activate Recommenders
          pytest --durations 0 $(yq ".${{ inputs.type }}.${{ matrix.group }} | map(@sh) | join(\" \")" "${{ inputs.config-file }}")
